Categories:
  - Development
License: GPL-3.0-or-later
SourceCode: https://github.com/joker-mik/SpoolMakerAndroid
IssueTracker: https://github.com/joker-mik/SpoolMakerAndroid/issues

RepoType: git
Repo: https://github.com/joker-mik/SpoolMakerAndroid.git

Builds:
  - versionName: 1.2.0
    versionCode: 29
    commit: FULL_COMMIT_SHA_OF_V1.2.0
    subdir: app
    gradle:
      - yes

AutoUpdateMode: Version
UpdateCheckMode: Tags
CurrentVersion: 1.2.0
CurrentVersionCode: 29
